#card-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
    margin-right: 45px;
    align-items: center;
    justify-content: center;
    width: 80vw;
    margin-bottom: 100px;
}

.customOverlay {
    background: rgba(0, 0, 0, 0.7);
}

.customModal {
    border-radius: 20px;
    max-width: 300px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.0) 0px 54px 55px, rgba(0, 0, 0, 0) 0px -12px 30px, rgba(0, 0, 0, 0) 0px 4px 6px, rgba(0, 0, 0, 0) 0px 12px 13px, rgba(0, 0, 0, 0) 0px -3px 5px;
    background: rgba(255, 255, 255, 0.1) !important;
}

.closeIcon {
    color: white !important;
}