#header {
    height: 77px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;
    right: 0;
    left: 0;
    background: #100f17;
}
  
#logo {
    color: #ffffff;
    padding: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    border: none;
}

#link-containers a {
    margin-left: 30px;
    padding: 15px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: none;
    cursor: pointer;
    transition: border 1.5s ease;
    border: 1px solid #100f17;
    border-radius: 30px;
}

#link-containers a:hover {
    border: 1px solid #ffffff;
}

#connect-wallet {
    width: 180px;
    height: 40px;
    background-color: #ffffff;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-left: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 978px) {
    #logo{
        font-size: 18px;
        float: left;
        margin-left: 10px;
    }
}
