#hero {
  width:100%;
  height: 300px;
  text-align: center;
  position: relative;
  background-size: cover;
  margin-top: 150px;
}

#hero-background{
  width: 100%;
  height:100%;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  background-size: cover;
}

#hero:before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  background:url('../assets/splash.png');
  background-position: center;
  mix-blend-mode: screen;
  opacity: 0.3;
}

#header-text-first {
  margin-top: 90px;
  font-size: 56px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #ffffff;
}

#header-text-second {
  font-size: 56px;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 30px;
}

#header-subtext {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 30px;
  font-size: 18px;
  color: #666c70;
  margin-top: 20px;
}


#hero-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

button#explore {
  width: 180px;
  height: 50px;
  margin-right: 20px;
  border-radius: 30px;
  font-size:21px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  background: #11998e;
  background: -webkit-linear-gradient(
    to bottom,
    #38ef7d,
    #11998e
  );
  background: linear-gradient(
    to bottom,
    #38ef7d,
    #11998e
  );
  color:#ffffff;
  cursor: pointer;
}

button#create {
  width: 180px;
  height: 50px;
  margin-left: 20px;
  border-radius: 30px;
  font-size:21px;
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
}


@media screen and (max-width: 978px) {
  a:not(#logo){
    display:none;
  }

  #hero {
    height: 200px;
    text-align: center;
  }

  #header-text-first {
    margin-top: 90px;
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 30px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  #header-text-second {
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 30px !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  #header-subtext {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 30px;
    font-size: 15px;
    color: #666c70;
    margin-top: 20px;
  }
  
  #hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  

  button#explore {
    width: 180px;
    height: 50px;
    border-radius: 30px;
    margin-right: 0px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
    background: #11998e;
    background: -webkit-linear-gradient(
      to bottom,
      #38ef7d,
      #11998e
    );
    background: linear-gradient(
      to bottom,
      #38ef7d,
      #11998e
    );
  
    font-weight: 600;
    color:#ffffff;
    cursor: pointer;
  }

  button#mine {
    width: 180px;
    height: 50px;
    margin-left: 5px;
    border-radius: 30px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #100F17;
    border: 1px solid #ffffff;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
  }
  
  button#create {
    width: 180px;
    height: 50px;
    margin-left: 5px;
    border-radius: 30px;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #100F17;
    border: 1px solid #ffffff;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
  }
}